<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Hello i am a Developer</h1>
      <p class="secret-text">Fresher Developer</p>
      <hr>

    </div>
  </div>

  <%- include('partials/footer') %>